<!--
Copyright (c) Microsoft Corporation. All rights reserved.
Licensed under the MIT License.
-->

<launch>
    <include file="$(find azure_kinect_ros_driver)/launch/driver.launch">
        <arg name="body_tracking_enabled" value="true" />
        <!-- <arg name="body_tracking_smoothing_factor" value="0.5" /> -->
        <arg name="depth_mode" value="NFOV_UNBINNED" />
        <arg name="fps" value="30"/>
    </include>
</launch>
